<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="layout :: link-md-boostrap-css"></th:block>
</head>
<body>
<div class="container">
    <th:block th:replace="layout :: header"></th:block>
    <div class="main-conten" >
        <form th:action="@{/goBlog/update}" th:object="${blog}"
              method="POST" class="form-control">
            <input type="hidden" th:field="*{id}"/>
            <div>
                <label>Name:</label>
                <input type="text" th:field="*{name}"/>
            </div>
            <div>
                <label>Author:</label>
                <input type="text" th:field="*{author}"/>
            </div>
            <div>
                <label>description</label>
                <textarea type="text" th:field="*{description}"/>
            </div>
            <div>
                <label>posts</label>
                <select th:field="*{posts}">
                    <option th:each="item :${post}"
                            th:value="${item.postId}"
                            th:text="${item.content}"                            >
                    </option>
                </select>
            </div>
            <input type="submit" value="Edit"/>
        </form>
    </div>
    <th:block th:replace="layout :: footer"></th:block>
</div>
<th:block th:replace="layout :: link-md-boostrap-js"></th:block>
</body>