<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>
    <a th:href="@{/product}">
        Back to customer list
    </a>
</p>
<form th:action="@{/product/delete}" th:object="${product}"
      method="POST" class="form-control">
    <input type="hidden" th:field="*{id}"/>
    <div>
        <label>Name</label>
        <input type="text" th:field="*{name}"/>
    </div>
    <div>
        <label>price</label>
        <input type="text" th:field="*{price}"/>
    </div>
    <div>
        <label>description</label>
        <input type="text" th:field="*{description}"/>
    </div>
    <div>
        <label>producer</label>
        <input type="text" th:field="*{producer}"/>
    </div>
</form>
</body>
</html>